* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

.container {
    box-sizing: border-box;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 9fr;

}

.header {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.search {
    grid-row: 1 / 1;
    grid-column: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-left: 40px;
    padding-right: 60px;
}

input {
    border-radius: 10px;
    flex: 1;
    border: 0;
    background-color: #e2e8f0;
    height: 25px;
    text-indent: 7px;
}

.user {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    padding: 7px;
    padding-bottom: 15px;
}

.user-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: solid 2px black;
    align-self: center;
    justify-self: center;
    grid-column: 1 / 2;
}

.user-container {
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-column: 1fr;
}

.user-name {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    align-self: center ;
}

.min-user {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.min-user .material-symbols-outlined {
    font-variation-settings: "FILL" 0;
}

.greeting {
    align-self: end;
}


.buttons {
    align-self: center;
    justify-self: center;
    display: grid;
    gap: 15px;
    grid-auto-flow: column; 
    padding-right: 20px;
}

button {
    padding: 7px 35px 7px 35px;
    border-radius: 10px;
    border: 0;
    background-color:#3b82f6;
    color: #fafafa;
}





.user-image-min {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: solid 2px black;
    flex-shrink: 0;
}

.sidebar {
    grid-row: 1 / 3;
    grid-column: 1 / 1;
    display: grid;
    grid-template-rows: 0.3fr 2fr 2fr;
    padding: 16px;
    background-color:#3b82f6;
    color: #fafafa;
}

.logo {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
    align-self: start;
    gap: 8px;
}

.logo h1 {
    align-self: center;
}

.logo img {
    width: 45px;
    height: 45px;
    justify-self: center;
}
.icons {
    margin-top: 20px;
}

.icons, .icons-secondary{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: repeat(6, 1fr);
    max-height: 400px;
}

.icons-secondary {
    margin-top: 30px;
}

.material-symbols-outlined {
    justify-self: center;
    align-self: center;
}

.side-content {
    align-self: center;
}

.main {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 20px 1fr 1fr;
    gap: 15px;
    padding: 15px;
    background-color: #f1f5f9;
    box-shadow: inset 0 2px 4px #cbd5e1;
}

.title-project {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

.project {
    grid-row: 2 / 4;
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;

}

.project .card {
    max-height: 200px;
    max-width: 350px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    display: grid;
    box-sizing: border-box;
}

.card span {
    justify-self: end;
}

.title-announce {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

.announce {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.trend {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}
.title-trend {
    margin-bottom: 10px;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 700,
  'GRAD' 0,
  'opsz' 48
}
